blockquote {
  border-left: 5px solid $theme-color;
  font-style: italic;
  font-size: $h4;
  margin-left: $space-2;
  padding: $space-2;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
