---
---

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title">{{entry.title}}</span>
    <span class="author">
      {% for author in entry.author_array %}
        {% if forloop.length == 1 %}
          {% if author.last == site.scholar.last_name %}
            <em>{{author.first}} {{author.last}}</em>
          {% else %}
            {{author.first}} {{author.last}}
          {% endif %}
        {% else %}
          {% unless forloop.last %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.first}} {{author.last}}</em>,
            {% else %}
              {{author.first}} {{author.last}},
            {% endif %}
          {% else %}
            {% if author.last == site.scholar.last_name %}
              and <em>{{author.first}} {{author.last}}</em>
            {% else %}
              and {{author.first}} {{author.last}}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}},</em>
    {% elsif entry.type == "inproceedings" %}
      In <em>{{entry.booktitle}},</em>
    {% elsif entry.type == "incollection" %}
      In <em>{{entry.booktitle}}</em>, {{entry.editor}} (eds), {{entry.publisher}},
    {% endif %}
    {% if entry.year %}
      {{entry.year}}
    {% endif %}
    {% if entry.volume %}
      vol. {{entry.volume}}
    {% endif %}
    {% if entry.number %}
      no. {{entry.number}}
    {% endif %}
    {% if entry.pages %}
      pp. {{entry.pages}}
    {% endif %}
    </span>
  {% endif %}

  <span class="links" style="padding-top:4px">
  {% if entry.abstract %}
    <a class="abstract">abstract</a>
  {% endif %}
  {% if entry.arxiv %}
    <a class="btn" href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
  {% endif %}
  {% if entry.doi %}
    <a class="btn" href="http://doi.org/{{entry.doi}}" target="_blank">doi</a>
  {% endif %}
  {% if entry.html %}
    <a class="btn" href="{{ entry.html }}" target="_blank">html</a>
  {% endif %}
  {% if entry.pdf %}
    <a class="btn" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">pdf</a>
  {% endif %}
  {% if entry.supp %}
    <a class="btn" href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">supp</a>
  {% endif %}
  {% if entry.poster %}
    <a class="btn" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">poster</a>
  {% endif %}
  {% if entry.slides %}
    <a class="btn" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">slides</a>
  {% endif %}
  {% if entry.code %}
    <a class="btn" href="{{ entry.code }}" target="_blank">code</a>
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
</div>
